<table>
	<tr>
		<th>Order Id</th>
		<th>Amount of item</th>
		<th>Cost</th>
		<th>Username</th>
	</tr>
	<tr>
		<td><%= @order.id %></a></td>
		<td><%= @order.amount_of_item %></td>
		<td><%= @order.cost %></td>
		<td><%= @order.user.username %></td>
	</tr>
</table> 